@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold text-danger">@ViewData["Title"]</h1>
    <p class="lead mt-4 text-danger">You do not have access to this resource.</p>
</div>